.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
.env
instance/
.DS_Store
*.egg-info/
dist/
build/
app/static/uploads/temp/*
app/static/uploads/results/*
!app/static/uploads/temp/.gitkeep
!app/static/uploads/results/.gitkeep
migrations/
